* {
    margin: 0px;
    padding: 0px;
    font-family: "Bahnschrift";
}

button {
    cursor: pointer;
}

#body {
    z-index: 99999;
    background: linear-gradient(#302849, #13111e);
    height: 100%;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
}

html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    width: 100%;
    height: fit-content;
    gap: 1.5rem;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    background-color: hsla(0, 0%, 0%, 0.235);
}

nav > * {
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: rgb(50, 50, 71);
    border-radius: 50%;
}

nav > *:last-child {
    margin-right: 5rem;
}

main {
    color: white;
    font-size: 5rem;
    text-transform: uppercase;
    margin-top: 10rem;
    margin-left: 5rem;
    width: 35rem;
    display: flex;
    gap: 1rem;
}

#get-started {
    border-radius: 0.25rem;
    background: #c5c500;
    color: white;
    text-transform: uppercase;
    padding: 0.5rem;
    width: fit-content;
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
}

#logo {
    width: 30rem;
    height: auto;
}